<div class="top">
  <div class="results">
    <a class="frame-button center pointer">
      <span class="open pointer">❮</span>
      <span class="close pointer">❯</span>
    </a>
    <ul class="errors"></ul>
    <div class="pass"></div>
  </div>
  <div class="clear"></div>
</div>

<div class="navigation">
  <div class="buttons">
    <a class="run-again pointer">Run Again</a>
    <a class="conn" class="pointer">{conn}</a>
    <a class="maximize pointer">Maximize Frame</a>
    <a class="minimize pointer">Minimize Frame</a>
  </div>
</div>

<div class="overview">
  <ul class="list"></ul>
</div>

<div class="grep">
  <div class="form">
    <label>Grep &#x2192;</label>
    <input id="grep" type="text" placeholder="Type any test name filter..." value="{grep}" />
  </div>
</div>
